# MkDocs core
mkdocs>=1.5

# Theme and extensions (provides material.* including material.extensions.emoji)
mkdocs-material>=9.0

# Plugins referenced in mkdocs.yml
mkdocs-minify-plugin>=0.7
mkdocs-glightbox>=0.3
